include *.txt *.rst
exclude CONTRIBUTING.txt
recursive-include pynfft *.pyx *.pxd *.py
recursive-exclude pynfft *.c
recursive-include tests *.py
recursive-include doc *
recursive-exclude doc/build *
exclude MANIFEST.in
