include MANIFEST.in
include ChangeLog
include COPYING
include README
include setup.cfg
include setup.py
exclude CONTRIBUTING

graft pynfft
graft doc
prune doc/build

global-exclude *.pyc
global-exclude *.pyd
global-exclude *.pyo
global-exclude *.so
global-exclude .git*
global-exclude *~
