include COPYING.txt
include README.rst
include pynfft/cnfft3.pxd
include pynfft/nfft.pyx
include pynfft/cnfft3util.pxd
include pynfft/nfft.c
include pynfft/util.pyx
include pynfft/util.c
include tests/test_*.py
include tests/__init__.py
recursive-include doc/build/html *.html *.css *.png *.js
